#!/usr/bin/env python
# -*- coding: utf-8 -*-

# The MISP auth key can be found on the MISP web interface under the automation section
misps = ['https://<your MISP URL>/|Your MISP auth key|verifyCert|clientCert', 'https://<your MISP2 URL>/|Your MISP2 auth key|verifyCert2|clientCert2']


# Example for 2 misp instances, 1 local with Cert validation disabled
## misps = ['https://myMisp.example.com|7fwRwxDmAKNsFE7WXXdoEeM2f3iXOJurYqoCD78d|True|', 'https://misp.local|WtHJMvwSvJw8c54VZuWd2yfjoHPiF59UtJgB4cod||']
