#!/usr/bin/env python
# -*- coding: utf-8 -*-

# The MISP auth key can be found on the MISP web interface under the automation section
misps = ['https://<your MISP URL>/|Your MISP auth key|verifyCert|clientCert', 'https://<your MISP2 URL>/|Your MISP2 auth key|verifyCert2|clientCert2']
